.header {
    background: var(--inputs);
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--badges);
    padding: 24px 64px;
    position: relative;
    z-index: 10;
}

.headerContainer {
    display: flex;
    height: 16px;
}

.logo {
    width: 136px;
    height: 16px;
}

.nav {
    margin-left: 450px;
    display: flex;
    gap: 32px;
}

.navLink {
    font-family: var(--font-manrope);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.2s ease;
}

.active {
    color: var(--grey-green);
}