.formWrapper {
    border: 1px solid var(--gray-light);
    border-radius: 16px;
    padding: 44px;
    width: 641px;
    height: 100%;
}

.formTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 8px;
}

.formdesc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    z-index: 11;
}

.input {
    border-radius: 12px;
    padding: 18px 337px 18px 18px;
    width: 527px;
    height: 60px;
    background: var(--inputs);
    border: none;
}

.inputError {
    border: 1px solid var(--button);
    border-radius: 12px;
    background: #ffdfdf;
}

.inputTitle {
    position: absolute;
    top: -14px;
    left: 18px;
    background: #ffdfdf;
    padding: 0 6px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    color: var(--button);
    z-index: 20;
}

.button {
    border-radius: 200px;
    padding: 16px 60px;
    width: 527px;
    height: 56px;
    background: var(--grey-green);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    border: none;
    margin-top: 8px;
}

.button:disabled {
    background: #999;
}

.error {
    color: red;
    font-size: 13px;
}

.notification {
    margin-top: 12px;
    font-weight: bold;
}

