.filters {
    border-radius: 20px;
    padding: 24px;
    width: 360px;
    height: 840px;
    background: var(--inputs);
}

.labelInput {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 88px;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 40px;
    outline: none;
    border: none;
}

.inputWrapper {
    position: relative;
    width: 312px;
}

.inputIcon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--gray);
    pointer-events: none;
}

.input {
    border-radius: 12px;
    padding: 18px 18px 18px 48px;
    width: 312px;
    background: var(--white);
    height: 56px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
}

.input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    opacity: 1;
}

.select {
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--white);
    border: 1px solid var(--gray-light);
    font-size: 16px;
    line-height: 150%;
}   

.formTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 24px;
}

.radioTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 8px; 
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    border-radius: 100%;
    fill: var(--text);
    stroke-width: 1px;
    stroke: var(--text);
}

.radioOption {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #101828;
}

.radioInput {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #475467;
    margin: 0;
}

.searchBtn {
    border-radius: 200px;
    padding: 16px 60px;
    width: 312px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    cursor: pointer;
    background: var(--grey-green);
    border: none;
    margin-bottom: 16px;
    margin-top: 24px;
}

.clearBtn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 4px;
    border: 1px solid var(--gray-light);
    border-radius: 200px;
    padding: 16px 32px;
    width: 312px;
    height: 56px;
    cursor: pointer;
    background: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main);
}
