.infoList {
    border-radius: 16px;
    padding: 24px;
    width: 650px;
    height: 304px;
    background: var(--inputs);
    margin-bottom: 16px;
}

.detailsContainer {
    border-radius: 16px;
    padding: 24px;
    width: 650px;
    height: 360px;
    background: var(--inputs);
}

.featuresList {
    display: flex;
    gap: 3px;
}

.featuresList li {
    border-radius: 100px;
    padding: 12px 18px;
    height: 48px;
    background: var(--badges);
    mix-blend-mode: multiply;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}

.detailsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* дві колонки */
    row-gap: 16px;
    column-gap: 32px;
    margin-top: 24px;
    padding: 0;
    list-style: none;
}

.detailsList li {
    font-size: 16px;
    color: #475467;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.detailsList li span {
    color: #101828;
    font-weight: 600;
}