.infoList {
    border-radius: 16px;
    padding: 24px;
    width: 650px;
    height: 304px;
    background: var(--inputs);
    margin-bottom: 16px;
}

.detailsContainer {
    border-radius: 16px;
    padding: 24px;
    width: 650px;
    height: 360px;
    background: var(--inputs);
}

.featuresList {
    display: flex;
    gap: 3px;
}

.featuresList li {
    border-radius: 100px;
    padding: 12px 18px;
    height: 48px;
    background: var(--badges);
    mix-blend-mode: multiply;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}

.detailsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.detailsList li {
    font-size: 15px;
    line-height: 1.4;
}