.infoList {
    border-radius: 16px;
    padding: 24px;
    width: 650px;
    height: 304px;
    background: var(--inputs);
    margin-bottom: 16px;
}

.infoTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-bottom: 8px;
}

.infoContainer {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.ratingContent {
    display: flex;
    gap: 4px;
}

.locationContainer {
    display: flex;
    gap: 4px;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-bottom: 24px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

.detailsContainer {
    border-radius: 16px;
    padding: 24px;
    width: 650px;
    height: 360px;
    background: var(--inputs);
}

.detailsTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-bottom: 16px;
}

.featuresList {
    display: flex;
    gap: 5px;
}

.featuresList li {
    border-radius: 100px;
    padding: 12px 14px;
    height: 48px;
    background: var(--badges);
    mix-blend-mode: multiply;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
    margin-bottom: 16px;
}

.detailsLength {
    border: 1px solid var(--gray-light);
    width: 602px;
    height: 0;
    margin-bottom: 16px;
}

.detailsList li {
    display: flex;  
    justify-content: space-between;
    font-size: 16px;
    line-height: 150%;
    width: 602px;
    height: 24px;
    margin-bottom: 8px;
}

.detailsList li span:first-child {
    color: var(--main);
    font-weight: 400;
}

.detailsList li span:last-child {
    color: var(--main);
    font-weight: 400;
}